* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FEFFFF;
  color: #333;
}

[data-mantine-color-scheme] {
  background-color: #FEFFFF;
}

.mantine-AppShell-footer {
  background-color: #000000 !important;
  border-top: none !important;
}

.mantine-AppShell-footer * {
  color: white !important;
}
